In [2]:
# initial imports and setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import (accuracy_score, classification_report, 
                           roc_auc_score, roc_curve, confusion_matrix, 
                           ConfusionMatrixDisplay)
import warnings
warnings.filterwarnings('ignore')

sns.set_style("whitegrid")
plt.rcParams['figure.figsize'] = (10, 6)
%matplotlib inline

print("All libraries imported successfully!")

All libraries imported successfully!

In [26]:
import pandas as pd
import zipfile
import os

zip_path = r"C:\Users\Hp\Downloads\telco.zip" 

with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall("telco_data")

print("Zip file extracted successfully!")
csv_files = [f for f in os.listdir("telco_data") if f.endswith(".csv")]
print("CSV files found:", csv_files)

csv_path = os.path.join("telco_data", csv_files[0])
df = pd.read_csv(csv_path)
print(f"Dataset loaded: {df.shape}")

print("\nDATASET OVERVIEW:")
print(f"Shape: {df.shape}")
print(f"\nColumns: {list(df.columns)}")

df.head(3)

Zip file extracted successfully!
CSV files found: ['WA_Fn-UseC_-Telco-Customer-Churn.csv']
Dataset loaded: (7043, 21)

DATASET OVERVIEW:
Shape: (7043, 21)

Columns: ['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn']

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [28]:
print("üîç COMPREHENSIVE DATA QUALITY REPORT")
print("=" * 50)

print("1. DATASET BASIC INFO:")
print(f"   - Shape: {df.shape}")
print(f"   - Memory usage: {df.memory_usage(deep=True).sum() / 1024**2:.2f} MB")
print(f"   - Duplicate rows: {df.duplicated().sum()}")

print("\n2. DATA TYPES AND MISSING VALUES:")
df_info = pd.DataFrame({
    'Data Type': df.dtypes,
    'Missing Values': df.isnull().sum(),
    'Missing %': (df.isnull().sum() / len(df)) * 100,
    'Unique Values': df.nunique()
})
display(df_info)

print("\n3. BLANK STRINGS CHECK:")
blank_counts = {}
for col in df.columns:
    if df[col].dtype == 'object':
        blank_count = (df[col].apply(lambda x: isinstance(x, str) and x.strip() == "")).sum()
        if blank_count > 0:
            blank_counts[col] = blank_count

if blank_counts:
    for col, count in blank_counts.items():
        print(f"   - {col}: {count} blank strings")
else:
    print("   - No blank strings found")

print(f"\n4. TOTALCHARGES SPECIFIC CHECK:")
print(f"   - Data type: {df['TotalCharges'].dtype}")
print(f"   - Sample values: {df['TotalCharges'].head(3).tolist()}")

üîç COMPREHENSIVE DATA QUALITY REPORT
==================================================
1. DATASET BASIC INFO:
   - Shape: (7043, 21)
   - Memory usage: 6.82 MB
   - Duplicate rows: 0

2. DATA TYPES AND MISSING VALUES:

                 Data Type  Missing Values  Missing %  Unique Values
customerID          object               0        0.0           7043
gender              object               0        0.0              2
SeniorCitizen        int64               0        0.0              2
Partner             object               0        0.0              2
Dependents          object               0        0.0              2
tenure               int64               0        0.0             73
PhoneService        object               0        0.0              2
MultipleLines       object               0        0.0              3
InternetService     object               0        0.0              3
OnlineSecurity      object               0        0.0              3
OnlineBackup        object               0        0.0              3
DeviceProtection    object               0        0.0              3
TechSupport         object               0        0.0              3
StreamingTV         object               0        0.0              3
StreamingMovies     object               0        0.0              3
Contract            object               0        0.0              3
PaperlessBilling    object               0        0.0              2
PaymentMethod       object               0        0.0              4
MonthlyCharges     float64               0        0.0           1585
TotalCharges        object               0        0.0           6531
Churn               object               0        0.0              2

3. BLANK STRINGS CHECK:
   - TotalCharges: 11 blank strings

4. TOTALCHARGES SPECIFIC CHECK:
   - Data type: object
   - Sample values: ['29.85', '1889.5', '108.15']